


 .details2 img{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    
   

 }
 .details2{
   padding: 20px ;
   border: none;
   background-color: rgb(205, 230, 252);
   border-radius: 20px;
 }
 .btn{
   background-color: cornflowerblue;
   padding: 10px;
   font-size: 20px;
   width: 100%;
   border: none;
   color: white;
   border-radius: 7px;

 }