
 .display-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    border: 3px solid red;
    
 }
 .title-container{
    display: flex;
   border: 3px solid red;
   
    
 }
 .title-name{
   padding-right: 500px;
    margin-top: 80px;
    color: cornflowerblue;
    border: 3px solid red;
 }
 .icon{
    padding-right: 20px;
    color: cornflowerblue;
 }
 
 .details{
    background-color: brown;
 }